@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}
.content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.Form {
    position: relative;
    top: 40px;
}